<a href="https://colab.research.google.com/github/Luke-zm/ev_charge_ana/blob/zm/ev_charging_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import the necessary packages for EDA
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# Import the CSV file to work with
url = "https://raw.githubusercontent.com/Luke-zm/ev_charge_ana/main/data/combined_ev_charging_data.csv"
leeds_comb_df = pd.read_csv(url, )
leeds_comb_df.head()

,charging_event_id,user_id,cp_id,con_num,start_date,start_time,end_date,total_kwh,site,charger_model,uid,charging_cost
0,4105202.0,User 690,70204.0,1.0,01/01/2018,16:11,01/01/2018,5.89,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN
1,4105706.0,User 406,70204.0,2.0,02/01/2018,07:05,02/01/2018,14.30,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN
2,4105757.0,User 716,70206.0,2.0,02/01/2018,08:01,02/01/2018,18.66,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN,NaN
3,4105869.0,User 706,70207.0,2.0,02/01/2018,09:09,02/01/2018,0.02,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN,NaN
4,4105870.0,User 706,70207.0,2.0,02/01/2018,09:11,02/01/2018,5.95,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN,NaN

In [6]:
leeds_comb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48448 entries, 0 to 48447
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   charging_event_id  24224 non-null  float64
 1   user_id            23213 non-null  object
 2   cp_id              24224 non-null  float64
 3   con_num            24224 non-null  float64
 4   start_date         24224 non-null  object
 5   start_time         24224 non-null  object
 6   end_date           23927 non-null  object
 7   total_kwh          23927 non-null  float64
 8   site               24224 non-null  object
 9   charger_model      24224 non-null  object
 10  uid                1011 non-null   object
 11  charging_cost      2278 non-null   float64
dtypes: float64(5), object(7)
memory usage: 4.4+ MB

In [7]:
len(leeds_comb_df["charging_event_id"].unique())

24225

In [9]:
len(leeds_comb_df["user_id"].unique())

1039

In [10]:
leeds_comb_df["site"].unique()

array(['Woodhouse Lane Car Park', 'Elland Road Park and Ride',
       'Temple Green Park and Ride', nan, 'Wellington Place ',
       '***TEST SITE*** Charge Your Car HQ', 'Torre Road Council Depot'],
      dtype=object)

In [11]:
leeds_comb_df["charger_model"].unique()

array(['APT 7kW Dual Outlet', 'APT Triple Rapid Charger', nan,
       'APT 7kW (Powershare)'], dtype=object)

In [12]:
leeds_comb_df["con_num"].unique()

array([ 1.,  2., nan])