<a href="https://colab.research.google.com/github/Luke-zm/ev_charge_ana/blob/zm/ev_charging_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Import the necessary packages for EDA
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Import datetime for datetime processing
from datetime import datetime, timedelta

In [10]:
# Import the CSV file to work with
url = "https://raw.githubusercontent.com/Luke-zm/ev_charge_ana/main/pre_ana_data/updated_combined_ev_charging_data.csv"
leeds_comb_df = pd.read_csv(url)
leeds_comb_df.head()

,charging_event_id,user_id,cp_id,con_num,start_date,start_time,end_date,end_time,total_kwh,site,charger_model,charging_cost
0,383322.0,14Q3User 31,70206.0,2.0,31/12/2014,11:25,31/12/2014,11:35,0.57,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN
1,383031.0,14Q3User 635,70206.0,1.0,30/12/2014,13:58,30/12/2014,15:24,4.52,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN
2,381777.0,14Q3User 38,70201.0,2.0,27/12/2014,18:13,27/12/2014,19:08,0.00,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN
3,380951.0,14Q3User 629,70208.0,1.0,24/12/2014,11:37,24/12/2014,12:06,3.16,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN
4,377470.0,14Q3User 626,70204.0,2.0,18/12/2014,09:29,18/12/2014,11:56,3.16,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN

In [11]:
leeds_comb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48448 entries, 0 to 48447
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   charging_event_id  24224 non-null  float64
 1   user_id            24224 non-null  object
 2   cp_id              24224 non-null  float64
 3   con_num            24224 non-null  float64
 4   start_date         24224 non-null  object
 5   start_time         24224 non-null  object
 6   end_date           23927 non-null  object
 7   end_time           23927 non-null  object
 8   total_kwh          23927 non-null  float64
 9   site               24224 non-null  object
 10  charger_model      24224 non-null  object
 11  charging_cost      2278 non-null   float64
dtypes: float64(5), object(7)
memory usage: 4.4+ MB

In [12]:
len(leeds_comb_df["charging_event_id"].unique())

24225

In [13]:
len(leeds_comb_df["user_id"].unique())

1898

In [14]:
leeds_comb_df["site"].unique()

array(['Elland Road Park and Ride', 'Woodhouse Lane Car Park',
       'Temple Green Park and Ride', 'Wellington Place ',
       'Torre Road Council Depot', nan,
       '***TEST SITE*** Charge Your Car HQ'], dtype=object)

In [15]:
leeds_comb_df["charger_model"].unique()

array(['APT 7kW Dual Outlet', 'APT Triple Rapid Charger',
       'APT 7kW (Powershare)', nan], dtype=object)

In [16]:
leeds_comb_df["con_num"].unique()

array([ 2.,  1., nan])

In [18]:
leeds_comb_df["con_num"].unique()

array([ 2.,  1., nan])