# Leeds EDA

This notebook contains the EDA process of the Leeds City Council EV charging dataset, ranging from 2014 to 2021 Q1.  

Contents:  
[Combine Datasets](#Combine-Datasets)

In [2]:
# Import the necessary packages
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Combine Datasets

The datasets are first combined before being analyised.

In [8]:
# Read in all .csv files in data
path = "../data/"
os.chdir(path)
csv_files = csv_files = [f for f in os.listdir() if f.endswith('.csv')]

dfs = []
# Import all .csv files
for csv in csv_files:
    df = pd.read_csv(csv)
    dfs.append(df)

# Combine the dataframes
ev_df = pd.concat(dfs, ignore_index=True)

# Examine contents of dataframe
ev_df.head()

,Charging event,User ID,CP ID,Connector,Start Date,Start Time,End Date,End Time,Total kWh,Site,Model,Unique User ID,Unnamed: 11,Unnamed: 12,Unnamed: 13,Cost
0,4105202,User 690,70204,1,01/01/2018,16:11,01/01/2018,19:03,5.89,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN,NaN,NaN
1,4105706,User 406,70204,2,02/01/2018,07:05,02/01/2018,17:05,14.30,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN,NaN,NaN
2,4105757,User 716,70206,2,02/01/2018,08:01,02/01/2018,18:50,18.66,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN,NaN,NaN,NaN,NaN
3,4105869,User 706,70207,2,02/01/2018,09:09,02/01/2018,09:10,0.02,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN,NaN,NaN,NaN,NaN
4,4105870,User 706,70207,2,02/01/2018,09:11,02/01/2018,19:09,5.95,Elland Road Park and Ride,APT 7kW Dual Outlet,NaN,NaN,NaN,NaN,NaN

In [13]:
ev_df.shape

(24224, 16)

In [12]:
ev_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24224 entries, 0 to 24223
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Charging event  24224 non-null  int64
 1   User ID         23213 non-null  object
 2   CP ID           24224 non-null  int64
 3   Connector       24224 non-null  int64
 4   Start Date      24224 non-null  object
 5   Start Time      24224 non-null  object
 6   End Date        23927 non-null  object
 7   End Time        23927 non-null  object
 8   Total kWh       23927 non-null  float64
 9   Site            24224 non-null  object
 10  Model           24224 non-null  object
 11  Unique User ID  1011 non-null   object
 12  Unnamed: 11     0 non-null      float64
 13  Unnamed: 12     0 non-null      float64
 14  Unnamed: 13     0 non-null      float64
 15  Cost            2278 non-null   float64
dtypes: float64(5), int64(3), object(8)
memory usage: 3.0+ MB

In [16]:
unique_user = ev_df["User ID"].unique()

In [17]:
len(unique_user)

1039

In [ ]:
# Test to check if 2 users are the same or not... 
# Different year may not be the same user....