In [1]:
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
q2_14 = pd.read_csv("../data/2014 EVCP use Q2.csv")

In [5]:
q2_14

,Charging event,User ID,CP ID,Connector,Start Date,Start Time,End Date,End Time,Total kWh,Site,Model
0,261569,User 37,70204,1,6/30/2014,19:33,6/30/2014,20:23,2.63,Woodhouse Lane Car Park,APT 7kW Dual Outlet
1,261146,User 37,70204,2,6/29/2014,16:06,6/29/2014,17:40,5.82,Woodhouse Lane Car Park,APT 7kW Dual Outlet
2,260029,User 37,70204,2,6/25/2014,20:17,6/25/2014,21:18,2.84,Woodhouse Lane Car Park,APT 7kW Dual Outlet
3,253159,User 4,70200,1,06/08/2014,13:54,06/08/2014,15:43,6.58,Woodhouse Lane Car Park,APT 7kW Dual Outlet
4,250057,User 23,70204,1,5/30/2014,16:27,5/30/2014,17:10,1.63,Woodhouse Lane Car Park,APT 7kW Dual Outlet
5,248161,User 34,70201,1,5/26/2014,13:29,5/26/2014,16:24,10.46,Woodhouse Lane Car Park,APT 7kW Dual Outlet
6,247743,User 11,70200,2,5/24/2014,10:31,5/24/2014,11:16,1.28,Woodhouse Lane Car Park,APT 7kW Dual Outlet
7,243750,User 17,70202,1,05/12/2014,15:55,05/12/2014,17:27,5.70,Woodhouse Lane Car Park,APT 7kW Dual Outlet
8,243232,User 11,70202,1,05/10/2014,10:18,05/10/2014,11:04,1.26,Woodhouse Lane Car Park,APT 7kW Dual Outlet
9,236159,User 15,70204,2,4/18/2014,08:41,4/18/2014,18:11,4.70,Woodhouse Lane Car Park,APT 7kW Dual Outlet
10,234600,User 15,70204,2,04/12/2014,11:55,04/12/2014,21:12,5.39,Woodhouse Lane Car Park,APT 7kW Dual Outlet
11,233978,User 15,70204,2,04/10/2014,07:41,04/10/2014,17:12,5.63,Woodhouse Lane Car Park,APT 7kW Dual Outlet

In [ ]:
# Function to map User ID into UID of more digits
# Include yr, Q and

In [7]:
q34_2014 = pd.read_csv("../data/2014 EVCP use Q3 and Q4.csv")
q34_2014

,Charging event,User ID,CP ID,Connector,Start Date,Start Time,End Date,End Time,Total kWh,Site,Model
0,383322,User 31,70206,2,12/31/2014,11:25,12/31/2014,11:35,0.57,Elland Road Park and Ride,APT 7kW Dual Outlet
1,383031,User 635,70206,1,12/30/2014,13:58,12/30/2014,15:24,4.52,Elland Road Park and Ride,APT 7kW Dual Outlet
2,381777,User 38,70201,2,12/27/2014,18:13,12/27/2014,19:08,0.00,Woodhouse Lane Car Park,APT 7kW Dual Outlet
3,380951,User 629,70208,1,12/24/2014,11:37,12/24/2014,12:06,3.16,Elland Road Park and Ride,APT 7kW Dual Outlet
4,377470,User 626,70204,2,12/18/2014,09:29,12/18/2014,11:56,3.16,Woodhouse Lane Car Park,APT 7kW Dual Outlet
...,...,...,...,...,...,...,...,...,...,...,...
73,278517,User 42,70203,1,08/12/2014,08:36,08/12/2014,08:41,0.29,Woodhouse Lane Car Park,APT 7kW Dual Outlet
74,274698,User 9,70204,1,08/05/2014,10:38,08/05/2014,12:54,7.70,Woodhouse Lane Car Park,APT 7kW Dual Outlet
75,270653,User 37,70204,1,7/24/2014,20:09,7/24/2014,21:05,3.55,Woodhouse Lane Car Park,APT 7kW Dual Outlet
76,266514,User 37,70204,1,7/13/2014,11:01,7/13/2014,11:33,2.05,Woodhouse Lane Car Park,APT 7kW Dual Outlet
77,264599,User 2,70205,1,07/07/2014,12:27,07/07/2014,12:28,0.04,Elland Road Park and Ride,APT 7kW Dual Outlet

In [8]:
q12_2015 = pd.read_csv("../data/2015 EVCP use Q1 and Q2.csv")

In [9]:
q12_2015

,Charging event,User ID,CP ID,Connector,Start Date,Start Time,End Date,End Time,Total kWh,Site,Model
0,384954,User 636,70208,1,01/05/2015,09:03,01/05/2015,17:03,0.00,Elland Road Park and Ride,APT 7kW Dual Outlet
1,385563,User 628,70208,1,01/06/2015,09:04,01/06/2015,17:05,3.93,Elland Road Park and Ride,APT 7kW Dual Outlet
2,385578,User 636,70205,1,01/06/2015,09:35,01/06/2015,18:17,19.61,Elland Road Park and Ride,APT 7kW Dual Outlet
3,386323,User 628,70208,1,01/07/2015,09:02,01/07/2015,16:59,10.17,Elland Road Park and Ride,APT 7kW Dual Outlet
4,387054,User 44,70204,2,01/08/2015,08:10,01/08/2015,12:38,8.50,Woodhouse Lane Car Park,APT 7kW Dual Outlet
...,...,...,...,...,...,...,...,...,...,...,...
213,1078855,User 38,70206,1,6/29/2015,09:13,6/29/2015,09:16,0.00,Elland Road Park and Ride,APT 7kW Dual Outlet
214,1078859,User 38,70206,2,6/29/2015,09:16,6/29/2015,09:19,0.00,Elland Road Park and Ride,APT 7kW Dual Outlet
215,1078864,User 38,70206,1,6/29/2015,09:20,6/29/2015,12:12,10.53,Elland Road Park and Ride,APT 7kW Dual Outlet
216,1080286,User 628,70206,2,6/30/2015,08:44,6/30/2015,16:21,7.16,Elland Road Park and Ride,APT 7kW Dual Outlet
217,1080405,User 38,70208,1,6/30/2015,09:34,6/30/2015,15:55,10.01,Elland Road Park and Ride,APT 7kW Dual Outlet

In [12]:
q3_2020 = pd.read_csv("../data/2020 EVCP use Q3.csv")

In [13]:
q3_2020

,Charging event,User ID,CP ID,Connector,Start Date,Start Time,End Date,End Time,Total kWh,Site,Model
0,9953306,User 380,70204,1,01/07/2020,07:48,01/07/2020,17:26,4.30,Woodhouse Lane Car Park,APT 7kW Dual Outlet
1,9953495,User 372,70200,2,01/07/2020,08:54,01/07/2020,16:24,9.31,Woodhouse Lane Car Park,APT 7kW Dual Outlet
2,9953572,User 324,51467,2,01/07/2020,09:21,01/07/2020,15:36,4.53,Woodhouse Lane Car Park,APT 7kW Dual Outlet
3,9954480,User 621,70204,2,01/07/2020,14:47,02/07/2020,08:22,26.26,Woodhouse Lane Car Park,APT 7kW Dual Outlet
4,9954752,User 624,51467,2,01/07/2020,16:22,02/07/2020,10:20,6.46,Woodhouse Lane Car Park,APT 7kW Dual Outlet
...,...,...,...,...,...,...,...,...,...,...,...
940,10456270,User 613,70204,2,30/09/2020,18:05,01/10/2020,08:04,11.32,Woodhouse Lane Car Park,APT 7kW Dual Outlet
941,10456289,User 618,70202,1,30/09/2020,18:08,01/10/2020,08:05,6.76,Woodhouse Lane Car Park,APT 7kW Dual Outlet
942,10456536,User 624,51467,1,30/09/2020,19:09,01/10/2020,08:21,8.96,Woodhouse Lane Car Park,APT 7kW Dual Outlet
943,10456839,User 621,70200,2,30/09/2020,21:30,01/10/2020,08:09,27.30,Woodhouse Lane Car Park,APT 7kW Dual Outlet
944,10456842,User 615,70202,2,30/09/2020,21:31,01/10/2020,18:00,6.06,Woodhouse Lane Car Park,APT 7kW Dual Outlet

In [10]:
q1_2021 = pd.read_csv("../data/2021 EVCP use Q1.csv")

In [11]:
q1_2021

,Charging event,Unique User ID,CP ID,Connector,Start Date,Start Time,End Date,End Time,Total kWh,Site,Model,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,12654900,User 613,81028,2,31/03/2021,21:07,01/04/2021,08:15,15.24,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN
1,12653764,User 1132,70201,1,31/03/2021,19:47,01/04/2021,09:24,52.49,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN
2,12652572,User 624,70200,2,31/03/2021,18:29,01/04/2021,08:02,5.25,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN
3,12651038,User 623,81028,1,31/03/2021,16:52,01/04/2021,08:44,5.02,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN
4,12650838,User 149,81028,2,31/03/2021,16:41,31/03/2021,18:31,5.02,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,10932488,User 1115,51467,2,03/01/2021,07:11,03/01/2021,09:18,11.72,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN
1007,10932167,User 621,70202,1,02/01/2021,20:08,04/01/2021,07:59,10.38,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN
1008,10932165,User 613,70204,1,02/01/2021,20:08,03/01/2021,10:00,8.18,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN
1009,10930312,User 520,51468,2,02/01/2021,07:39,02/01/2021,16:51,21.64,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN
1010,10928620,User 304,51468,2,01/01/2021,07:50,01/01/2021,20:23,27.16,Woodhouse Lane Car Park,APT 7kW Dual Outlet,NaN,NaN,NaN